body {
  background-color: #eeeeee;
  color: #222831;
}
.task {
  margin: 30px;

  .input-form {
    display: flex;
    width: 30%;
    column-gap: 10px;
    font-size: larger;

    .input-text {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      input {
        margin-top: 5px;
        padding-left: 10px;
        cursor: pointer;
        outline: none;
        width: 200px;
        height: 26px;
        border-radius: 30px;
        border: 1px solid #31363f;
        background-color: #76abae;
      }

      input:focus {
        border: 1px solid rgba(50, 13, 48, 0);
        outline: 2px solid #31363f;
      }
    }
  }

  .btn {
    align-self: flex-end;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #76abae;
  }

  .btn:hover {
    background-color: #93aeaf;
  }

  .btn:active {
    background-color: rgba(127, 140, 153, 0.8);
  }
}
